body {
    background-image: url("./img/circles-light.png");
}

.navbar-brand {
    padding-left: 8px;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
    font-size: 1.6em;
}

.nav-item {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.navbar-collapse {
    padding-left: 8px;
}

.container {
    margin-top: 58px;
}

h5, h6, .btn {
    font-family: 'Cabin Sketch', cursive;
    font-weight: 400;
}

.container p, .form-group, footer p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.github {
    color: #171515;
}

.linkedin {
    color: #0077B5;
}

.stack-overflow {
    color: #f48024;
}

footer p {
    padding: 4px;
    font-size: 0.5em;
}

.absolute-wrapper {
    bottom: 5px;
    left: 0px;
}

@media screen and (min-width: 768px) {
    .my-photo {
        width: 50%;
    }

    .portfolio {
        margin-bottom: 55px!important;
    }
}